<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<script>
    const ver4_cluster1 = document.createElement("option");
    const ver4_cluster2 = document.createElement("option");
    const ver4_cluster3 = document.createElement("option");
    const ver4_cluster4 = document.createElement("option");
    const ver4_cluster5 = document.createElement("option");
    const ver4_cluster6 = document.createElement("option");
    const ver4_cluster7 = document.createElement("option");
    const ver4_cluster8 = document.createElement("option");
    const ver4_cluster9 = document.createElement("option");
    const ver4_cluster10 = document.createElement("option");
    const ver3_cluster1 = document.createElement("option");
    const ver3_cluster2 = document.createElement("option");

    ver3_cluster1.value = "test-paasmaster.lguplus.co.kr";
    ver3_cluster1.id = "intest-paas";
    ver3_cluster1.text = "개발 : intest-paas";
    ver3_cluster2.value = "paasmaster.lguplus.co.kr";
    ver3_cluster2.id = "in-paas";
    ver3_cluster2.text = "운영 : in-paas";
    ver4_cluster1.value = "dprv-paas";
    ver4_cluster1.id = "dprv-paas";
    ver4_cluster1.text = "개발 : dprv-paas";
    ver4_cluster2.value = "sdprmn-paas";
    ver4_cluster2.id = "sdprmn-paas";
    ver4_cluster2.text = "개발 : sdprmn-paas";
    ver4_cluster3.value = "dprsv-paas";
    ver4_cluster3.id = "dprsv-paas";
    ver4_cluster3.text = "개발 : dprsv-paas";
    ver4_cluster4.value = "dprrt-paas";
    ver4_cluster4.id = "dprrt-paas";
    ver4_cluster4.text = "개발 : dprrt-paas";
    ver4_cluster5.value = "pprv-paas";
    ver4_cluster5.id = "pprv-paas";
    ver4_cluster5.text = "운영 : pprv-paas";
    ver4_cluster6.value = "pprmn-paas";
    ver4_cluster6.id = "pprmn-paas";
    ver4_cluster6.text = "운영 : pprmn-paas";
    ver4_cluster7.value = "pprsv-paas";
    ver4_cluster7.id = "pprsv-paas";
    ver4_cluster7.text = "운영 : pprsv-paas";
    ver4_cluster8.value = "pprrt-paas";
    ver4_cluster8.id = "pprrt-paas";
    ver4_cluster8.text = "운영 : pprrt-paas";
    ver4_cluster9.value = "dprv-k8s";
    ver4_cluster9.id = "dprv-k8s";
    ver4_cluster9.text = "개발 : dprv-k8s";
    ver4_cluster10.value = "pprv-k8s";
    ver4_cluster10.id = "pprv-k8s";
    ver4_cluster10.text = "운영 : pprv-k8s";

    function onClickSubmit(form)
    {
        if(form.resource_type.value == "storage_report_pv")
        {
            form.storage_obj.value = "pv";
            form.action = "storage_report";
        }
        else if(form.resource_type.value == "storage_report_pvc")
        {
            form.storage_obj.value = "pvc";
            form.action = "storage_report";
        }
        else
        {
            form.action = form.resource_type.value;
        }
        form.submit();
    }

    function afterLoad(form)
    {
        selectPrevChoice(form.ocp_ver, form.current_ocp_ver.value);
        changeClusterByVer(form);
        selectPrevChoice(form.cluster_name, form.current_cluster.value);
        selectPrevChoice(form.resource_type, form.current_report.value);
        //form.ocp_ver.options[form.current_ocp_ver.value].selected = true;
        //form.cluster_name.options[form.current_cluster.value].selected = true;
        //form.resource_type.options[form.current_report.value].selected = true;
        return;
    }

    function selectPrevChoice(obj, val)
    {
        for(var i = 0; i < obj.options.length; i++)
        {
            if(obj.options[i].value == val)
            {
                obj.options[i].selected = true;
                return;
            }
        }
        return;
    }

    function changeClusterByVer(form)
    {
        console.log(form.ocp_ver.selectedIndex);
        console.log(form.ocp_ver.options[form.ocp_ver.selectedIndex].value);
        if(form.ocp_ver.options[form.ocp_ver.selectedIndex].value == "3")
        {
            showVer3Cluster(form);
        }
        else
        {
            showVer4Cluster(form);
        }
        return;
    }

    function showVer3Cluster(form)
    {
        while(form.cluster_name.options.length > 0)
        {
            form.cluster_name.remove(0);
        }
        form.cluster_name.add(ver3_cluster1, 0);
        form.cluster_name.add(ver3_cluster2, 1);
        return;
    }

    function showVer4Cluster(form)
    {
        while(form.cluster_name.options.length > 0)
        {
            form.cluster_name.remove(0);
        }
        form.cluster_name.add(ver4_cluster1, 0);
        form.cluster_name.add(ver4_cluster2, 1);
        form.cluster_name.add(ver4_cluster3, 2);
        form.cluster_name.add(ver4_cluster4, 3);
        form.cluster_name.add(ver4_cluster5, 4);
        form.cluster_name.add(ver4_cluster6, 5);
        form.cluster_name.add(ver4_cluster7, 6);
        form.cluster_name.add(ver4_cluster8, 7);
        form.cluster_name.add(ver4_cluster9, 8);
        form.cluster_name.add(ver4_cluster10, 9);
        return;
    }
    
</script>
<body onload="javascript:afterLoad(this.search_condition)">
    <div class="container">
        <h1>클러스터 자원 리포트</h1>
        <hr>
        <form name="search_condition" method="post">
            <label>OCP버전 : </label>
            <select id="ocp_ver" name="ocp_ver" onChange="javascript:changeClusterByVer(this.form)">
                <option id="3" value="3">버전 3</option>
                <option id="4" value="4">버전 4</option>
            </select>
            <label>클러스터 : </label>
            <select id="cluster_name" name="cluster_name">
            </select>
            <label>자원 : </label>
            <select id="resource_type" name="resource_type">
                <option id="node" value="node_report">노드 리포트</option>
                <option id="project" value="project_report">프로젝트 리포트</option>
                <option id="deployment" value="deployment_report">배포 리포트</option>
                <option id="network" value="network_report">네트워크 리포트</option>
                <option id="storage_pv" value="storage_report_pv">스토리지 - PV 리포트</option>
                <option id="storage_pvc" value="storage_report_pvc">스토리지 - PVC 리포트</option>
            </select>
            <label>마당계정 : </label>
            <input id="username" name="username" type="text" size="10" length="10">
            <label>패스워드 : </label>
            <input id="password" name="password" type="password" size="20" length="20">

            <input type="submit" id="ok" value="확인" onClick="javascript:onClickSubmit(this.form)">
            <input type="hidden" id="storage_obj" name="storage_obj" value="">
            <input type="hidden" id="current_report" name="current_report" value="{{ current_report }}">
            <input type="hidden" id="current_cluster" name="current_cluster" value="{{ current_cluster }}">
            <input type="hidden" id="current_ocp_ver" name="current_ocp_ver" value="{{ current_ocp_ver }}">
        </form>
    </div>

    <div class="container">
        <h1>{{ title }}</h1>
        <hr>
        {% block content %}{% endblock %}
    </div>



</body>

</html>