{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <td colspan="5">PROJECT</td>
            <td colspan="9">DEPLOYMENT</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>DisplayName</td>
            <td>CreateionTime</td>
            <td>EgressIPs</td>
            <td>Hostsubnet</td>
            <td>Type</td>
            <td>Name</td>
            <td>UpdateStrategy</td>
            <td>Replicas</td>
            <td colspan="5">CONTAINER</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Name</td>
            <td>CPU Requests</td>
            <td>CPU Limits</td>
            <td>Memory Requests</td>
            <td>Memory Limits</td>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td {{ item.rowspan_str }}>{{ item.name }}</td>
            <td {{ item.rowspan_str }}>{{ item.display_name }}</td>
            <td {{ item.rowspan_str }}>{{ item.creationtime }}</td>
            <td {{ item.rowspan_str }}>{{ item.egressip }}</td>
            <td {{ item.rowspan_str }}>{{ item.hostsubnet }}</td>

            {% for deploy in item.deployment_list %}

            <td {{ deploy.rowspan_str }}>{{ deploy.type }}</td>
            <td {{ deploy.rowspan_str }}>{{ deploy.name }}</td>
            <td {{ deploy.rowspan_str }}>{{ deploy.updatestrategy }}</td>
            <td {{ deploy.rowspan_str }}>{{ deploy.replica }}</td>

                {% for container in deploy.container_list %}

            <td>{{ container.name }}</td>
            <td>{{ container.cpu_requests }}</td>
            <td>{{ container.cpu_lmits }}</td>
            <td>{{ container.memory_requests }}</td>
            <td>{{ container.memory_limits }}</td>
        </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}