<!doctype html>
<title>Path: {{ tree.name }}</title>
<script>
  function click(filename)
  {
	  translate.filename.value = filename;
	  translate.submit();
  }
 
</script>
<h1>이미지 목록</h1>
<form name='translate' action='/translate'' method='post'>
  <input type='hidden' name='filename'>
  <select name='language'>
    <option value='ko'>한국어</option>
    <option value='ch'>중국어</option>
    <option value='ja'>일본어</option>
  </select>
</form>
<h2>
<ul>
{%- for item in tree.children recursive %}
    <li><a href='javascript:click("{{ item.name }}")'>{{ item.name }}</a>
    {%- if item.children -%}
        <ul>{{ loop(item.children) }}</ul>
    {%- endif %}</li>
{%- endfor %}
</ul>
</h2>