{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <td colspan="2">PROJECT</td>
            <td colspan="5">SERVICE</td>
            <td colspan="5">ROUTE & INGRESS</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>DisplayName</td>
            <td>Name</td>
            <td>Type</td>
            <td>Cluster IPs</td>
            <td>Ports</td>
            <td>External IPs</td>
            <td>Name</td>
            <td>Type</td>
            <td>Host</td>
            <td>ToService</td>
            <td>TLS Termination</td>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td {{ item.rowspan_ntwreport_str }}>{{ item.name }}</td>
            <td {{ item.rowspan_ntwreport_str }}>{{ item.display_name }}</td>

            {% if item.rowspan_ntwreport_cnt == 0: %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>   
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
            {% else %}

                {% for i in range(0, item.rowspan_ntwreport_cnt) %}
                    {% if i >= item.getServiceCnt(): %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>         
            <td>&nbsp;</td>        
                    {% else %}
            <td>{{ item.service_list[i].name }}</td>
            <td>{{ item.service_list[i].type }}</td>
            <td>{{ item.service_list[i].clusterips }}</td>
            <td>{{ item.service_list[i].ports }}</td>
            <td>{{ item.service_list[i].external_ips }}</td>
                    {% endif %}
                    {% if i >= item.getRouteIngressCnt(): %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>   
            <td>&nbsp;</td>
                    {% else %}
                        {% if item.instanceOf(i) == "route" : %}
            <td>{{ item.merged_route_ingress[i].name }}</td>
            <td>Route</td>
            <td>{{ item.merged_route_ingress[i].host }}</td>
            <td>{{ item.merged_route_ingress[i].to_name }}</td>
            <td>{{ item.merged_route_ingress[i].tls_termination }}</td>
                        {% elif item.instanceOf(i) == "ingress" : %}
            <td>{{ item.merged_route_ingress[i].name }}</td>
            <td>Ingress</td>
            <td>{{ item.merged_route_ingress[i].to_host }}</td>
            <td>{{ item.merged_route_ingress[i].to_service }}</td>
            <td>{{ item.merged_route_ingress[i].tls }}</td>
                        {% else %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>   
            <td>&nbsp;</td>
                        {% endif %}
                    {% endif %}

        </tr>

                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}