{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <td colspan="3">NODE</td>
            <td colspan="2">CAPACITY</td>
            <td colspan="4">REQUESTS</td>
            <td colspan="4">LIMITS</td>
            <td colspan="4">CONDITION</td>
        </tr>
        <tr>
            <td>NAME</td>
            <td>IP</td>
            <td>NodeRole</td>
            <td>Core</td>
            <td>Memory</td>
            <td>Core</td>
            <td>Memory</td>
            <td>Core(%)</td>
            <td>Memory(%)</td>
            <td>Core</td>
            <td>Memory</td>
            <td>Core(%)</td>
            <td>Memory(%)</td>
            <td>READY</td>
            <td>MEMORY_PRESSURE</td>
            <td>DISK_PRESSURE</td>
            <td>PID_PRESSURE</td>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td>{{ item.node_name }}</td>
            <td>{{ item.ip_list }}</td>
            <td>{{ item.node_role }}</td>
            <td>{{ item.node_capacity_cpu }}</td>
            <td>{{ item.node_capacity_memory }}</td>
            <td>{{ item.cpu_requests_sum }}</td>
            <td>{{ item.memory_requests_sum }}</td>
            <td>{{ item.cpu_requests_perc }}</td>
            <td>{{ item.memory_requests_perc }}</td>
            <td>{{ item.cpu_limits_sum }}</td>
            <td>{{ item.memory_limits_sum }}</td>
            <td>{{ item.cpu_limits_perc }}</td>
            <td>{{ item.memory_limits_perc }}</td>
            <td>{{ item.condition_ready }}</td>
            <td>{{ item.condition_memorypressure }}</td>
            <td>{{ item.condition_diskpressure }}</td>
            <td>{{ item.condition_pidpressure }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}