{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <td colspan="5">PROJECT</td>
            <td colspan="5">RESOURCEQUOTA</td>
            <td colspan="13">LIMITRANGE</td>
        </tr>
        <tr>
            <td>Name</td>
            <td>DisplayName</td>
            <td>CreationTime</td>
            <td>EgressIPs</td>
            <td>Hostsubnet</td>
            <td>Name</td>
            <td>CPU req.</td>
            <td>CPU lim.</td>
            <td>Memory req.</td>
            <td>Memory lim.</td>
            <td>Name</td>
            <td colspan="4">Pod</td>
            <td colspan="4">Container</td>
            <td colspan="4">Default</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>Max CPU</td>
            <td>Max Memory</td>
            <td>Min CPU</td>
            <td>Min Memory</td>
            <td>Max CPU</td>
            <td>Max Memory</td>
            <td>Min CPU</td>
            <td>Min Memory</td> 
            <td>CPU</td>
            <td>Memory</td>
            <td>Req. CPU</td>
            <td>Req. Memory</td>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td {{ item.rowspan_prjreport_str }}>{{ item.name }}</td>
            <td {{ item.rowspan_prjreport_str }}>{{ item.display_name }}</td>
            <td {{ item.rowspan_prjreport_str }}>{{ item.creationtime }}</td>
            <td {{ item.rowspan_prjreport_str }}>{{ item.egressip }}</td>
            <td {{ item.rowspan_prjreport_str }}>{{ item.hostsubnet }}</td>

            {% if item.rowspan_prjreport_cnt == 0: %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td> 
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>   
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td> 
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
            {% else %}

                {% for i in range(0, item.rowspan_prjreport_cnt) %}
                    {% if i >= item.getResourceQuotaCnt(): %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>               
                    {% else %}
            <td>{{ item.resourcequota_list[i].name }}</td>
            <td>{{ item.resourcequota_list[i].used_cpu_requests }} / {{ item.resourcequota_list[i].cpu_requests }}</td>
            <td>{{ item.resourcequota_list[i].used_cpu_lmits }} / {{ item.resourcequota_list[i].cpu_lmits }}</td>
            <td>{{ item.resourcequota_list[i].used_memory_requests }} / {{ item.resourcequota_list[i].memory_requests }}</td>
            <td>{{ item.resourcequota_list[i].used_memory_limits }} / {{ item.resourcequota_list[i].memory_limits }}</td>
                    {% endif %}
                    {% if i >= item.getLimitragneCnt(): %}
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>   
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td> 
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
                    {% else %}
            <td>{{ item.limitrange_list[i].name }}</td>
            <td>{{ item.limitrange_list[i].pod_max_cpu }}</td>
            <td>{{ item.limitrange_list[i].pod_max_memory }}</td>
            <td>{{ item.limitrange_list[i].pod_min_cpu }}</td>
            <td>{{ item.limitrange_list[i].pod_min_memory }}</td>
            <td>{{ item.limitrange_list[i].container_max_cpu }}</td>
            <td>{{ item.limitrange_list[i].container_max_memory }}</td>
            <td>{{ item.limitrange_list[i].container_min_cpu }}</td>
            <td>{{ item.limitrange_list[i].container_min_memory }}</td>
            <td>{{ item.limitrange_list[i].default_cpu }}</td>            
            <td>{{ item.limitrange_list[i].default_memory }}</td> 
            <td>{{ item.limitrange_list[i].default_request_cpu }}</td> 
            <td>{{ item.limitrange_list[i].default_request_memory }}</td> 
                    {% endif %}

        </tr>

                {% endfor %}
            {% endif %}
        {% endfor %}
    </tbody>
</table>
{% endblock %}