{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <td>Name</td>
            <td>CreationDate</td>
            <td>NFS Version</td>
            <td>AccessModes</td>
            <td>Capacity</td>
            <td>Claim Ref Name</td>
            <td>Claim Ref Namespace</td>
            <td>NFS Server</td>
            <td>NFS Path</td>
            <td>Recliam Policy</td>
            <td>StorageClass</td>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.creationtime }}</td>
            <td>{{ item.nfsver }}</td>
            <td>{{ item.accessmodes }}</td>
            <td>{{ item.capacity }}</td>
            <td>{{ item.claimref_name }}</td>
            <td>{{ item.claimref_namespace }}</td>
            <td>{{ item.nfs_server }}</td>
            <td>{{ item.nfs_path }}</td>   
            <td>{{ item.reclaimpolicy }}</td>
            <td>{{ item.storageclass }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}