{% extends "base.html" %}

{% block content %}
<table id="data" class="table table-striped">
    <thead>
        <tr>
            <td>Project</td>
            <td>Name</td>
            <td>CreationTime</td>
            <td>AccessModes</td>
            <td>Storage Size</td>
            <td>Phase</td>
            <td>StorageClass</td>
        </tr>
    </thead>
    <tbody>
        {% for item in result %}
        <tr>
            <td>{{ item.project }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.creationtime }}</td>
            <td>{{ item.accessmodes }}</td>
            <td>{{ item.storage }}</td>
            <td>{{ item.phase }}</td>
            <td>{{ item.storageclass }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}